/d2hackmap.exp
/d2hackmap.lib
/d2hackmap.map
/d2hackmap.pdb
/d2hackmap1.dll
/d2hackmap2.dll
/d2hackmap3.dll
/d2hackmap4.dll
/d2hackmap5.dll
/d2hackmap6.dll
/d2hackmap7.dll
/d2hackmap8.dll
/d2hackmap9.dll
/d2hackmapS.dll
/d2hackmap*.log
/loadhackmap*.log
/d2_*.txt
/mpqlist.txt
/mpqtable.bin
/dis256.cache.bin
